@{
    ViewData["Title"] = "Display Database";
    string[] TableHeaders = new string[] {"ID"
          ,"Username"
          ,"Password"};
}
    

<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }

            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>
                                @Data.UserID
                                @Data.UserName
                                @Data.Password
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

